body {
	background-color: grey;
	min-height: 100vh;
}


p {
	background-color: turquoise;
	font-size: xx-large;
	display: flex;
	justify-content: center;
	align-items: center;
}

div div {
	background-color: turquoise;
	font-size: xx-large;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	display: flex;
	justify-content: center;
	align-items: end;

	position: sticky;
	top: 100%;
}
/* 
footer {
  } */